spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/safeon
    username: safeon
    password: '0987'
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  swagger-ui:
    path: /api-docs
    groups-order: DESC
    tags-sorter: alpha
